.main {
  display: flex;
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  /* padding: 1rem; */
  min-height: 100vh;
  background-color: #212529;
}

.networkContainer {
  width: 100%;
  /* padding: 1rem; */
  /* border-radius: 1rem; */
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
