.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  background-color: #212529;
  width: 10%;
  min-width: 120px;

  border: solid 1px #495057;
  color: #ced4da;
}

.Data {
  color: #266ED0;
}

.mainLogo {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .showMenu {
  color: #396087;
  font-weight: bold;
  display: none;
  width: 2rem;
  height: 2rem;
} */

.sbLogo {
  margin-top: 0.5rem;
  width: 90%;
  padding: 2%;
  height: auto;
  /* border-radius: 1rem; */
  /* margin-bottom: 10rem; */
}

.sbContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 10%;
}

.mediumLogo {
  display: flex;
  width: 3rem;
  /* margin-top: 10rem; */
  margin-bottom: 1rem;
}

.npmLogo {
  display: flex;
  width: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.githubLogo {
  display: flex;
  width: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hideMenu {
  align-self: flex-end;
  justify-self: start;
  font-weight: bold;
  color: #495057;
  margin: 0.4rem;
}

.sidebarButtons {
  background-color: rgb(13, 24, 144);
  border-radius: 0.3rem;
  width: 90%;
  padding-bottom: 1rem;
}

.textLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -250%;
}

.sbLinks {
  margin: 30% 10%;
  display: block;
  font-size: 1rem;
  color: #ced4da;
}

.logoLinks {
  display: flex;
  flex-direction: column;
  justify-self: end;
}
